<% if(success && success.length) {%> 
    <div class = success-flash>
        <%= success %> 
    </div>
<% } %> 

<% if(error && error.length) {%> 
    <div class = error-flash>
        <%= error %> 
    </div>
<% } %> 