

.artist-name{
    /* text-decoration: overline; */
    padding: 0.5em;
    padding-left: 0.7em;
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-link{
    margin-right: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    font-weight: bold;
}

.profile-link:hover{
    color: #353535;
    text-decoration: underline;
}

.index-title{
    margin: 0.7em;
    text-align: center;
}

.no-art{
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    font-weight: lighter;
}

.recent-caption{
    margin-left: 1em;
    font-weight: lighter;

}

.alpha-href:hover{
    text-decoration: underline;
}

.page-bar{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.page-href{
    margin-left: 0.5em;
    margin-right: 0.5em;
    
}

.page-href:hover{
    text-decoration: underline;
}

.page-number{
    margin-top: 1em;
    max-width: 45%;
    text-align: center;
}