<% layout('layouts/boilerplate')%>

<div class = home-container>
    <h1>Search for an Artist</h1>
    <form class = home-form action = "/" method = "GET">
        <input class = search-input type="text" name = "search" placeholder="Artist search...">
        <input class= search-btn type="submit" value="Search" >
    </form>
    <p>Or view  <a class = artists-href href = "/artists">all artists</a></p>
</div>



