<% layout('layouts/boilerplate')%>
<h1>All Art</h1>
<div>
      <!-- <a href="/artpieces/new">Add Art Piece</a> -->
      <!-- <input type="button" onclick="location.href='artpieces/new';" value="Add Art Piece" /> -->

</div>
<ul class = contents>
    <% for(let artpiece of artpieces) {%>
    <li class = indexArt> <a href="/artpieces/<%=artpiece._id%>"><%=artpiece.title%></a></li>
    <%}%>
</ul>

